@import "variables/global";
@import "theme/dark";
@import "theme/light";
@import "reset";

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}

.wrap-page {
    display: flex;
}

.page {
    flex-grow: 1;
}
