.app.dark {
  --bg-color: #090707;
  --inverted-bg-color: #bdbbbb;

  --primary-color: #036e03;
  --secondary-color: #04b404;

  --inverted-primary-color: #030379;
  --inverted-secondary-color: #0808e7;
}
