.app.light {
    --bg-color: #bdbbbb;
    --inverted-bg-color: #090707;
    --primary-color: #030379;
    --secondary-color: #0808e7;
    --inverted-primary-color: #036e03;
    --inverted-secondary-color: #04b404;
}
